body{
    margin: 0;
}

header{
    margin-bottom: 0;
}
header .hero{
 background: #d3cece;
color: #000;
    padding:5px 20px 3px 15px;
    
}
header .hero #phone{
    float: left;
}
header .hero span{
    color:#ba6013;
}
header .hero .social{
    float: right;
      padding:15px 30px 15px 15px;
}
header .hero a{ 
text-decoration: none;
margin-right: 15px;
color: #000;}
header .tap{
   background: #fff;
    
}
header .tap .rs{
    float: left;
    padding:  50px 40px 30px 100px;
}
header .tap .ls{
    float: right;
    padding:  50px 40px 30px 100px;
}
header .tap a{
    text-decoration: none;
    color: #000;
    margin-right: 80px;
    font-weight: bold;
    font-family: arial;
    font-size: 15px;
}
hr{
    border: solid 2px #ba6013; 
}
main{
    background: url(../images/Loyality-Program.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0;

      
}
main .te{
    float: left;
    padding: 70px 50px 70px 100px; 
    box-sizing: border-box;
    color:#fff; 
    
}
main .te p{
    font-size: 24px;}
main .te h2 {
    color: #fff;
    font-size: 50px;
    font-family: sans-serif;
}


main .te h2 span{
    color: #ef5723;
    font-weight: 700;
    font-size: 50px;
      font-family: sans-serif;
}
main .te a{
    color: #fff;
    text-decoration: none;
    display: block;
    background:transparent;
    border: solid 1px #fff;
    border-radius: 2px;
    text-align: center;
    
    
    width: 100px;
    padding: 5px;
    margin-top: 25px;
  
  
}

main .reg{
    display: block;
    
 
}
main .reg h2{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
}
main .reg p{
    color: #737373;
    font-size: 13px;
    line-height: 1.5;
    text-align: center;
}
.box{
  top: 80px;
  right: 0;
  margin-right: calc((100% - 1040px) / 2);
  width: 330px;
  background: #fff;
  border-top: 5px solid #ef8536;
  text-align: center;
  color: #252525;
  padding: 30px;
 
    float: right;
  
}
main .reg input{
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 0;
    color: #737373;
    border-bottom: 1px solid #737373;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;

}
main .reg input[type="submit"]{
    background: #e23a00;
    color: #fff;
    width: 200px;
    padding: 10px;
    margin: auto;
}
.about{
    margin: auto auto;
    text-align: center;
    margin-top: 50px;
    font-family: arial;
}
.about h3{
    font-size: 40px;
    line-height: 0.7;
    border-bottom: 1px solid #d5d5d5;
  padding: 20px 10px;
    display: inline-block;
    font-weight: 700;
    
}
.about p{
    font-size: 13pt;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
  
 
}
.about h2{
    margin: 100px 0 50px 0;
 border-bottom: 1px solid #d5d5d5;
    padding: 15px 10px;
display:inline-block;
font-weight: 700;
font-family: arial;
    font-size: 30px;}
.about p :last-child{
    font-weight: 700;
      border-bottom: 1px solid #d5d5d5;
    padding: 15px 10px;
}
.about hr{
    color: transparent;
}
.clearfix{
    clear: both;
}